################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DEOTool/bin/Debug/netcoreapp3.1
/DEOTool/obj/Debug/netcoreapp3.1/Razor/Views
/DEOTool/obj/Debug/netcoreapp3.1/staticwebassets
/DEOTool/obj/Debug/netcoreapp3.1
